@model ProjetFinal__2037266.Models.Voiture

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometrage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilometrage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version.VersionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VoitureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
