@model IEnumerable<ProjetFinal__2037266.ViewModels.ProcedureConducteurViewModel>

<h2>Conducteur par Date</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Pays d'origine</th>
            <th>Nombre de victoires</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var condu in Model)
        {
            <tr>
                <td>@condu.Nom</td>
                <td>@condu.Prenom</td>
                <td>@condu.DateNaissance</td>
                <td>@condu.PaysOrigine</td>
                <td>@condu.NombreVictoires</td>
            </tr>
        }
    </tbody>
</table>